# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
# The top level domain to serve from
DOMAIN_NAME=example.com

# The subdomain to serve from
SUBDOMAIN=n8n

# Optional timezone to set which gets used by Cron and other scheduling nodes
# New York is the default value if not set
GENERIC_TIMEZONE=America/Lima

# The email address to use for the TLS/SSL certificate creation
SSL_EMAIL=you@example.com

# API key used by the Giphy sticker request in the Telegram bot workflow
GIPHY_API_KEY=your-giphy-api-key
